on:
    push:

jobs:
    terraform:
        runs-on: ubuntu-latest
        env:
            AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID}}
            AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
            AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION}}

        steps:
        - name: Clonar codigo
          uses: actions/checkout@v4

        - run: |
            ls

        - name: Instalar Terraform
          uses: hashicorp/setup-terraform@v3

        - name: Iniciar Terraform
          run: |
            terraform init
            terraform fmt
            terraform validate

        - name: Planear Terraform
          run: |
            terraform plan -out tfplan

        - name: Aplicar Terraform
          run: |
            terraform apply tfplan


